/* Estilo general */

@font-face {
  font-family: 'Arial Rounded MT Bold';
  src: 
  /* url('assets/fonts/arialroundedmtbold.woff2') format('woff2'),
       url('assets/fonts/arialroundedmtbold.woff') format('woff'), */
       url('../assets/fonts/arialroundedmtbold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'Arial Rounded MT Bold', 'sans-serif' !important;
    background-color: linear-gradient(to right, #fce4ec, #e3f2fd);
    margin: 0;
    padding: 20px;
    color: #222;
}







